fastapi==0.110.0
pydantic==2.6.4
uvicorn==0.28.0
simplet5
protobuf==3.19.6
nlp_mlopslib @ git+https://github.com/ksron/MLOps_tutorials.git@mlops-library#subdirectory=2_nlp_model_serving/mlops-library
